.pytest_cache
__pycache__
.coverage
htmlcov

#ignore changes to data files
python-strength-app/data/database.sqlite
python-strength-app/data/test-database.sqlite
python-strength-app/data/squat.csv
python-strength-app/data/benchpress.csv
python-strength-app/data/deadlift.csv
python-strength-app/data/shoulderpress.csv
python-strength-app/data/pullup.csv
